input[type="display name"]{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0.5rem;
    border: .1rem solid #dddfe2;;
}
input[type="firstName"]{
    margin-top: 17px;
    width: 46%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0.5rem;
    border: .1rem solid #dddfe2;
}
input[type="lastName"]{
    width: 46.5%;
    margin-left: 26px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: .1rem solid #dddfe2;
}
input[type="password"]{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0.5rem;
    border: .1rem solid #dddfe2;

}
input[type="password_check"]{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 0.5rem;
    border: .1rem solid #dddfe2;
    border-bottom: lightgray .1rem solid;
}
.exist_acc{
margin-top: 10px;
}
.acc{
    font-size: 1.1rem;
    text-align: center;

    color: #1877f2;
    margin-left: 20%;
    margin-bottom: 10%;
}

input::file-selector-button{
    background-color: #1877f2;
    color: white;
    padding: 7px;
    width: 50%;
    display: block; 
    margin-top: 20px;
    text-align: center;   
    justify-content: center;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0.5rem;
    margin-left: 100px;
}
