body {
    background-color: rgb(231, 214, 214);
}

.hPageT {
    color: black;
    font-size: 25px;
    padding-left: 5cm;
}

#fT {
    color: #4800ff;
    padding-left: 5cm;
    padding-top: 6cm;
    font-size: 80px;
}

.loginCard {
    text-align: center;
    width: 100%;
    margin-top: 5cm;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.loginInput {
    height: 55px;
    font-size: 18px;
}

.btn {
    color: white;
}

#logInBtn {
    background: #4800ff;
    font-size: 25px;
    width: 100%;
}
#logInBtn:hover{
    color: #4800ff;
    background: none;
    border-color: #4800ff;
}

#cNewBtn {
    background: rgb(6, 189, 6);
    height: 45px;
    line-height: 30px;
    font-size: 15px;
    width: 45%;
}
#cNewBtn:hover{
    color: rgb(0, 132, 255);
    background: none;
    border-color: rgb(98, 100, 237);
}

#genericT {
    text-align: center;
    padding-top: 5px;
}