body{
  background-color: #e9ecef;
  padding-top: 85px;
}
.list-group-item{
  border: 0;
  background-color: transparent;
}
.container-fluid{
  padding: 0;
}

.bi{
  width: 30px;
  fill: blue !important;
}
#faceboockimg{
  width: 30px;
  fill: blue !important;
  font-size:35px;
  padding-left: 15px;
}
#navbar{
  z-index: 9999;
  /* position:relative; */

}
.nav-icon{
  padding: 15px 40px;
}
.nav-icon:hover{
  background-color: rgb(227, 227, 227);
}
li > .dropdown-toggle{
  border: 0;
  background-color: transparent;

}
.navbar-nav{
  padding-left: 20px;
  flex-grow: auto;
}

#feedmain{
  padding: 15px;
}



#create-post-btn{
  --bs-btn-bg: rgb(227, 227, 227);
  --bs-btn-hover-bg: rgb(178, 178, 178);
  border: 0;
  --bs-btn-color: rgb(89, 89, 89);
  border-radius: 1rem;
  --bs-btn-padding-x: 6rem;

}

#feedmain .card .card-body button.btn {
  width: 100% !important; /* Override width to fill parent */
}

#create-post-text::placeholder {
  color: gray;
}

.textAlignC{
  text-align: center !important; 
  flex: content;
}


/* .card{

} */
.card-body{
  /* padding: 15px; */
  /* background-color: #e9ecef; */
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.card{
  margin: 10px;
}

#side-bar{
  position: fixed;
}


.reg-btn{
  border: 0;
  background-color: transparent;
  padding-inline: 45px;
}
.reg-btn:hover{
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}
figure{
  border: 1.5px rgb(218, 218, 218);
  padding: 15px;
  border-style: groove none;
  margin: 10px;
}
.btn-outline-secondary{
  border: 0;
}
.btn-outline-primery{
  color: #0d6efd !important;
  border: 0;
}
#notAvail{
  padding-top: 10%;
}

.dark-mode{
  
  .list-group-item{
    color: rgb(190, 190, 190) !important;
  }
  .bi{
    width: 30px;
    fill: blue !important;
  }



  .nav-icon:hover{
    background-color: rgb(227, 227, 227);
  }

  nav{
    background-color: rgb(68, 68, 68) !important;
  }

  

  .card{
    --bs-card-bg: rgb(45, 45, 45) ;
    color: rgb(190, 190, 190) !important;

  }
  .text-body-secondary{
    color:rgb(185 187 190 / 75%)!important;
  }
  
  #create-post-btn{
    --bs-btn-bg: rgb(60, 71, 106);
    --bs-btn-hover-bg: rgb(93, 96, 120);
    --bs-btn-color: rgb(93, 96, 120);

  }
  

  
  #create-post-text::placeholder {
    color: gray;
  }
  
  .card-body{
    background-color: rgb(68, 68, 68);

  }
  
  
  .reg-btn{
    border: 0;
    background-color: transparent;
    padding-inline: 45px;
  }
  .reg-btn:hover{
    background-color: rgb(227, 227, 227);
    cursor: pointer;
  }
  figure{
    border: 1.5px rgb(68, 68, 68);
    padding: 15px;
    border-style: groove none;
    margin: 10px;
  }

  .btn-outline-primery{
    color: #0d6efd !important;
    border: 0;
  }
  #likeBtn{
    color: rgb(190, 190, 190) !important;
  }
  .modal-content{
    background-color: rgb(68, 68, 68);
  }
  .comments-class{
    background-color: rgb(103, 103, 103);
    border-radius: 6px;
  }
}