.btn {
    color: white;
  }
  
  #logInBtn {
    background: #4800ff;
    font-size: 25px;
    width: 100%;
  }
  #logInBtn:hover{
    color: #4800ff;
    background: none;
    border-color: #4800ff;
  }
  
#cNewBtn {
    background: rgb(6, 189, 6);
    height: 45px;
    line-height: 30px;
    font-size: 15px;
    width: 45%;
}
#cNewBtn:hover{
    color: white;
    background: rgb(23, 124, 14);
}

#genericT {
    text-align: center;
    padding-top: 5px;
}