body{
  background-color: #e9ecef;
  padding-top: 85px;
}
.list-group-item{
  border: 0;
  background-color: transparent;
}
.container-fluid{
  padding: 0;
}

.bi{
  width: 30px;
  fill: blue !important;
}
#faceboockimg{
  width: 30px;
  fill: blue !important;
  font-size:35px;
  padding-left: 15px;
}

.nav-icon{
  padding: 15px 40px;
}
.nav-icon:hover{
  background-color: rgb(227, 227, 227);
}
li > .dropdown-toggle{
  border: 0;
  background-color: transparent;

}

#feedmain{
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 35%;
  padding: 15px;
}



#create-post-btn{
  --bs-btn-bg: rgb(227, 227, 227);
  --bs-btn-hover-bg: rgb(178, 178, 178);
  border: 0;
  --bs-btn-color: rgb(89, 89, 89);
  border-radius: 1rem;
  --bs-btn-padding-x: 6rem;

}

#create-post-text::placeholder {
  color: gray;
}

.post-button{
  text-align: center !important; 
}


/* .card{

} */
.feed-component{
  /* padding: 15px; */
  /* background-color: #e9ecef; */
  background-color: white;
  margin: 10px;
  padding: 15px;
}

#side-bar{
  position: fixed;
}


.reg-btn{
  border: 0;
  background-color: transparent;
  padding-inline: 45px;
}
.reg-btn:hover{
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}